.profile-container-big{
    display: flex;
    align-items: center;
    justify-content: center;



}

.profile-header{
    display: flex;
    align-items: center;

}

.edit-profile{
    margin-right: 2%;
    
    border-radius: 50%;
   
    position: relative;
    width: 180px;
    height: 180px;
}

.profile-img-big{
    border-radius: 50%;
   

    width: 100%;
    height: 100%;

    
}

.profile-img-big-hovered:hover{
    cursor: pointer;
    filter: brightness(50%);
    
    transition: all 0.5s ease-in-out;
}

.edit-profile svg{
    font-size: 3.5rem;
    color: red;
    
    position: absolute;
    top: 50%;
    left: 54%;
    transform: translate(-50%, -50%);
}

/* .edit-profile svg:hover .profile-img-big{
    cursor: pointer;
    filter: brightness(50%);
    transition: all 0.5s ease-in-out;
} */


.profile-name-big{
    font-size: 2.3rem;
    white-space: nowrap;
}

.profile-items{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    
    padding: 1% 0;
    
}

.profile-items ul{
    display: flex;
    

    list-style-type: none;

    margin-top: 12%;
    
}

.profile-items ul li{
    padding-right: 8%;
    white-space: nowrap;
    font-size: 1.2rem;
}

.picture-edit-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border-bottom: 1px solid black;
}

.picture-edit{
    width: 200px;
    height: 200px;

    border-radius: 50%;
    margin-bottom: 10%;
}

.picture-edit-button{
    margin-bottom: 5%;

}

.username-edit-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    margin-top: 10%;
}

.username-edit-opts{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
}

.username-edit-h3{
    font-size: 1.3rem;
    margin: 0;
    padding-right: 5%;
}

.username{
    margin: 0;
    
}

.username-edit-button{
    margin: 8% 0;    

}


.username-edit-input-container{
    display: flex;
    justify-content: center;
    align-items: center;

    margin-bottom: 8%;
}

.username-edit-input{

}

.username-edit-input-submit{

}









.profile-container-small{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.profile-container-small a{
    margin-right: 1%;
}

.profile-img-small{
    border-radius: 50%;

    width: 80px;
    height: 80px;

   
}


.profile-name-small{
    font-size: 1.1rem;

}



.profile-opts{
    margin-left: 6px;

}









