.post-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    
   
    margin: 6% auto;
    width: 35%;
    
    
    
}

.post{
    margin: 10% 0;
    
    border: 1px solid black;
    background-color: white;
}

.post-author{
   height: 5rem;
   width: 100%;
   
   
   border-bottom: 1px solid black;
}

.post-content{
    height: 100%;
    display: flex;
   
}

.post-media{
    width: 100%;

}

.post-interactions{
    width: 100%;
}

.post-interactions-controlls{
    display: flex;
    position: relative;

    padding: 1% 3%;
    
    width: 100%;
    height: 3.5rem;

    border-top: 1px solid black;

}


.button-interaction-like{
    position: absolute;
    right: 5%;
    bottom: 20%;
    
    background-color: inherit;
    border: 0;
    
}

.button-interaction-like svg{
    font-size: 2rem;
    color: grey;
}

.post-comments{


}



















