.post-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    
   
    margin: 6% auto;
    width: 35%;
    
    border: 1px solid black;
    background-color: white;
}

.post-author{
   height: 5rem;
   width: 100%;
   
   
   border-bottom: 1px solid black;
}

.post{
    height: 100%;
    display: flex;
   
}

.post-interactions{
    display: flex;
    justify-content: space-around;

    padding: 5% 0;
    width: 100%;
    border-top: 1px solid black;
}

.post-comments{


}



















